.u-center-text{
    
    text-align: center;
}

.u-margin-bottom-8{
    margin-bottom: 80px;
}
.u-margim-bottom-2{
    margin-bottom: 15px;
}
.u-margim-top-8{
    margin-top: 80px;
}
.u-margim-top-10{
    margin-top: 100px;
}